#paneWithTabPane{
    -fx-background-color: rgb(255, 255, 240);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: rgb(51, 51, 51); ;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: rgb(255, 255, 240);

}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(255, 255, 240);
}

.button{
    -fx-background-radius: 4;
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-text-fill: white;

}

.list-cell{
    -fx-background-color: rgb(255, 255, 255);
}

.list-cell .label{
    -fx-cursor: hand;
}

.list-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

.list-cell:selected .label{
    -fx-text-fill: white;
}

#paneWithTagsEdit{
    -fx-background-color:
            linear-gradient(rgb(174, 240, 169) 0%, rgb(170, 238, 145) 25%, rgb(58, 221, 53) 75%, rgb(49, 216, 83) 100%);
    -fx-text-fill: bold;
}

#btnAddTag{
    -fx-background-radius: 90;
}