#vBoxUserLogged{
    -fx-background-color:  linear-gradient(rgb(128, 128, 128) 0%, rgb(89, 89, 89) 25%, rgb(51, 51, 51) 75%, rgb(89, 89, 89) 100%);
    -fx-text-fill: white;
}

#vBoxLoginPanel{
    -fx-background-color:  linear-gradient(rgb(128, 128, 128) 0%, rgb(89, 89, 89) 25%, rgb(51, 51, 51) 75%, rgb(89, 89, 89) 100%);
    -fx-text-fill: white;
}

.button{
    -fx-background-color: transparent;
    -fx-background-radius: 90;
    -fx-background-position: center;
}

.button:hover{
    -fx-background-color: white;
}

.label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.check-box .box{
    -fx-background-color: white;
}

.check-box:selected .mark{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

.check-box .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btnConnect:hover{
    -fx-text-fill: black;
}

#btnConnect{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#disconnectButton:hover{
    -fx-text-fill: black;
}

#disconnectButton{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}


#rememberCombo .label{
    -fx-text-fill: white;
}
