#vBoxTreeItemSnippetMenu{
    -fx-background-color:  linear-gradient(rgb(128, 128, 128) 0%, rgb(89, 89, 89) 25%, rgb(51, 51, 51) 75%, rgb(89, 89, 89) 100%);;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.label{
    -fx-cursor: normal;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: transparent;
    -fx-background-radius: 90;
    -fx-background-position: center;
}

.button:hover{
    -fx-background-color: white;
}

#btnSaveSnippetProperties:hover{
    -fx-text-fill: black;
}

#btnSaveSnippetProperties{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#btnCancelSnippetProperties:hover{
    -fx-text-fill: black;
}

#btnCancelSnippetProperties{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#btnClosePopWindow{
    -fx-background-image: url("/icons/close-icon-black.png");
    -fx-background-size: 33px;
    -fx-background-repeat: no-repeat;
}

#btnRemoveSnippet{
    -fx-background-image: url("/icons/bin-black.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
}

.btnTreeItemMenu{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 30;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}