#vBoxTreeItemMenu{
    -fx-background-color:  linear-gradient(rgb(128, 128, 128) 0%, rgb(89, 89, 89) 25%, rgb(51, 51, 51) 75%, rgb(89, 89, 89) 100%);
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.label{
    -fx-cursor: normal;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: transparent;
    -fx-background-radius: 90;
    -fx-background-position: center;
}

.button:hover{
    -fx-background-color: white;
}

#btnSaveCategoryInfo:hover{
    -fx-text-fill: black;
}

#btnSaveCategoryInfo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#btnCancelCategoryProperties:hover{
    -fx-text-fill: black;
}

#btnCancelCategoryProperties{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#btnChooseFileWithIco:hover{
    -fx-text-fill: black;
}

#btnChooseFileWithIco{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 90;
    -fx-border-color: white;
}

#btnClosePopWindow{
    -fx-background-image: url("/icons/close-icon-black.png");
    -fx-background-size: 33px;
    -fx-background-repeat: no-repeat;
}

#btnAddSubCategory{
    -fx-background-image: url("/icons/plus-black.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
}

#btnRemoveCategory{
    -fx-background-image: url("/icons/bin-black.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
}

.btnTreeItemMenuStyle{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 30;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}