.tree-cell{
    -fx-background-color: rgb(238, 246, 224);
}

.tree-cell .label{
    -fx-cursor: hand;
}

.tree-cell .arrow{
    -fx-cursor: hand;
}

.tree-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
}


.tree-cell:selected > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}

.tree-cell:selected .label{
    -fx-text-fill: white;
}

.tree-cell:selected .arrow #graphicTreeCell{
    -fx-text-fill: white;
    -fx-background-color: white;
}