.root{
    -fx-background-color: rgb(238, 246, 224);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: rgb(179, 177, 180);
}

.list-view{
    -fx-background-radius: 3;
}

.button{
    -fx-background-radius: 4;
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-text-fill: white;
}

.button:hover{
    -fx-cursor: hand;
}

#readySnippetsList .button{
    -fx-background-color: black;
}

#readySnippetsList .button .label{
    -fx-text-fill: white;
}

#readySnippetsList .list-cell{
    -fx-background-color: rgb(255, 255, 255);

}

#readySnippetsList .list-cell .label{
    -fx-cursor: hand;
}

#readySnippetsList .list-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

#readySnippetsList .list-cell:selected .label{
    -fx-text-fill: white;
}

#readySnippetsList .list-cell:selected .check-box .box{
    -fx-background-color:rgb(255, 255, 240);
}

#readySnippetsList .list-cell:selected .check-box:selected .mark{
    -fx-background-color: rgb(51, 51, 51);
}

#readySnippetsList .check-box .box{
    -fx-background-color: rgb(51, 51, 51);
}

#readySnippetsList .check-box:selected .mark{
    -fx-background-color:rgb(255, 255, 240);
}
