.root{
    -fx-background-color: rgb(238, 246, 224);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: rgb(179, 177, 180);
}

.text-field{
    -fx-background-radius: 20;
}

.text-area {
    text-area-background: rgb(255, 255, 240) ;
    -fx-background-radius: 5;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.list-view{
    -fx-background-radius: 3;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: white;
    -fx-padding: 0 0.05em 0 0.05em;
}

.split-pane{
    -fx-background-color: linear-gradient(rgb(128, 128, 128) 0%, rgb(89, 89, 89) 25%, rgb(51, 51, 51) 75%, rgb(89, 89, 89) 100%);
}

.split-pane .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button{
    -fx-background-radius: 4;
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-text-fill: white;
}

.button:hover{
    -fx-cursor: hand;
}

#btnAddTagToSnippet{
    -fx-background-radius: 90;
}

#btnAddCategory{
    -fx-background-radius: 90;
}

#listSelectionTags .button{
    -fx-background-color: black;
}

#listSelectionTags .button .label{
    -fx-text-fill: white;
}

#listSelectionTags .list-cell{
    -fx-background-color: rgb(255, 255, 255);

}

#listSelectionTags .list-cell .label{
    -fx-cursor: hand;
}

#listSelectionTags .list-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

#listSelectionTags .list-cell:selected .label{
    -fx-text-fill: white;
}


#checkTreeCategories .check-box .box{
    -fx-background-color: rgb(51, 51, 51);
}

#checkTreeCategories .check-box:selected .mark{
    -fx-background-color:rgb(255, 255, 240);
}

#checkTreeCategories .tree-cell{
    -fx-background-color: rgb(255, 255, 255);

}

#checkTreeCategories .tree-cell .label{
    -fx-cursor: hand;
}

#checkTreeCategories .tree-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

#checkTreeCategories .tree-cell:selected .check-box .box{
    -fx-background-color: rgb(255, 255, 255);
}

#checkTreeCategories .tree-cell:selected .check-box:selected .mark{
    -fx-background-color: rgb(51, 51, 51);
}


#checkTreeCategories .tree-cell:selected .label{
    -fx-text-fill: white;
}