#filtersPane{
    -fx-background-color: linear-gradient(rgb(179, 255, 209) 0%, rgb(179, 255, 209) 25%, rgb(179, 255, 209) 75%, rgb(179, 255, 209) 100%);
    -fx-border-radius: 60;
}

#pinLabel{
    -fx-background-image: url("/icons/unpin.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}