
#paneWithSearchResults{
    -fx-background-color: rgb(0, 102, 153);
    -fx-background-color: rgba(27, 255, 0, 0.49);

    /*-fx-background-image: url("/icons/blue-background.jpg");*/
    -fx-background-size: 2000px;
}

.button{
    -fx-background-radius: 3;
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-text-fill: white;
}

.list-cell{
    -fx-background-color: rgb(255, 255, 255);
}

.list-cell .label{
    -fx-cursor: hand;
}

.list-cell:selected{
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: white;
}

.list-cell:selected .label{
    -fx-text-fill: white;
}

#arrowLabel{
    -fx-background-image: url("/icons/top-arrow.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#btnRemoveResults {
    -fx-background-image: url("/icons/bin-black.png");
    -fx-background-color: transparent;
    -fx-background-radius: 90;
    -fx-background-position: center;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
}
