.root{
    -fx-background-color: rgb(204, 204, 204);
    -fx-text-fill: white;
    -fx-focus-color: transparent;
}

/*
            ComboBoxes

 */

.list-cell:selected .label{
    -fx-text-fill: white;
}

.combo-box .list-cell{
    -fx-background-color: white;
}

.combo-box-base {
    -fx-background-color: rgb(51, 51, 51);
}

.combo-box .arrow{
    -fx-background-color: white;
}

.combo-box:showing,
.combo-box:focused,
.combo-box .list-cell:hover{
    -fx-background-color: rgb(51, 51, 51);
    -fx-cursor: hand;
}

.combo-box .list-cell:filled:selected{
    -fx-text-fill: black;
    -fx-background-color: white;
}

/*
            TextFields

 */

.text-field{
    -fx-background-radius: 20;
}

.auto-complete-popup .list-cell:hover{
    -fx-cursor: hand;
}

/*
            CheckBoxes

 */

.check-box .box{
    -fx-background-color: rgb(51, 51, 51);
}

.check-box:selected .mark{
    -fx-background-color:rgb(255, 255, 240);
}

.text-area {
    text-area-background: rgb(255, 255, 240) ;
    -fx-background-radius: 3;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.list-view{
    -fx-background-radius: 3;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-padding: 0 0.1em 0 0.1em;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color:
            linear-gradient(rgb(153, 153, 153) 0%, rgb(51, 51, 51) 25%, rgb(51, 51, 51) 75%, rgb(153, 153, 153) 100%);
    -fx-padding: 0 0.1em 0 0.1em;
}

.button{
    -fx-cursor: hand;
}