.root{
    -fx-background-color:
            linear-gradient(rgb(200, 224, 183) 0%, rgb(196, 241, 167) 25%, rgb(102, 215, 84) 75%, rgb(87, 183, 72) 100%);
    /*-fx-background-position: 90%;*/
    /*-fx-background-size: 1300px;*/
}

/*
                Buttons
 */

.button{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: white;
}
#pullGistsLabel:hover{
    -fx-background-color: white;
}

#pushGistsLabel:hover{
    -fx-background-color: white;
}

#helpLabel:hover{
    -fx-background-color: white;
}


#btnAddSnippet{
    -fx-background-image: url("/icons/icons8-add-file.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnAddMainCategory{
    -fx-background-image: url("/icons/category_icon.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnImportSnippet{
    -fx-background-image: url("/icons/import-file.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnExportSnippet{
    -fx-background-image: url("/icons/export-file.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#vBoxMenuWithSearchBar .menu-bar{
    -fx-background-color:
            linear-gradient(rgb(252, 252, 255) 0%, rgb(190, 188, 191) 25%, rgb(224, 220, 217) 75%, rgb(252, 252, 255) 100%);
    -fx-background-size: 1300px;
    -fx-background-repeat: repeat;
    -fx-background-position: 90%;
}

/*
                Panes
 */

#hBoxControlButtonsWithSearchBar{
    -fx-background-color:
            linear-gradient(rgb(200, 224, 183) 0%, rgb(196, 241, 167) 25%, rgb(102, 215, 84) 75%, rgb(87, 183, 72) 100%);
    -fx-background-position: 90%;
    -fx-background-size: 1300px;

}

#separatorInPaneTop .line{
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-background-radius: 2;
}

#helpLabel{
    -fx-background-image: url("/icons/help-icon.png");
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-cursor: hand;

}

#gitLogInLabel{
    -fx-background-color: white;
    -fx-background-image: url("/icons/github-logo.png");
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-cursor: hand;

}

#pullGistsLabel{
    -fx-background-image: url("/icons/pull-gists.png");
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-cursor: hand;

}

#pushGistsLabel{
    -fx-background-image: url("/icons/push_gists.png");
    -fx-background-size: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-cursor: hand;

}

#searchLabel{
    -fx-cursor: hand;
}

